<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linmour.system.mapper.DictDataMapper">

    <resultMap id="BaseResultMap" type="com.linmour.system.pojo.Do.DictData">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="label" column="label" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
            <result property="creatorTime" column="creator_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="BIGINT"/>
            <result property="updaterTime" column="updater_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,label,value,
        dict_type,status,creator,
        creator_time,updater,updater_time,
        deleted
    </sql>
</mapper>
