<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linmour.product.mapper.RProductValueSpecMapper">

    <resultMap id="BaseResultMap" type="com.linmour.product.pojo.Do.RProductValueSpec">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productSpecId" column="product_spec_id" jdbcType="BIGINT"/>
            <result property="valueSpecId" column="value_spec_id" jdbcType="BIGINT"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_spec_id,value_spec_id,
        deleted
    </sql>
    <delete id="deleteValue">
        DELETE a,b FROM r_product_value_spec as a JOIN value_spec as b ON a.value_spec_id  =  b.id  WHERE
            a.product_spec_id = #{productId}
    </delete>
</mapper>
