<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linmour.order.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.linmour.order.pojo.Do.OrderItem">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="productId" column="product_id" jdbcType="BIGINT"/>
        <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,order_id,product_id,shop_id,
        create_time,update_time,create_by,
        update_by,deleted
    </sql>
    <delete id="postSql">
        DELETE
        FROM order_item_1
        WHERE order_id IN (SELECT *
                           FROM (SELECT t1.order_id
                                 FROM (SELECT *
                                       FROM order_item_1
                                       WHERE create_time &lt;= CURDATE() - INTERVAL 7 DAY) t1
                                          LEFT JOIN (SELECT DISTINCT order_id
                                                     FROM order_item_1
                                                     WHERE create_time &gt;= CURDATE() - INTERVAL 7 DAY) t2
                                                    ON t1.order_id = t2.order_id
                                 WHERE t2.order_id IS NOT NULL
                                 UNION
                                 SELECT order_id
                                 FROM order_item_1
                                 WHERE create_time &lt;= CURDATE() - INTERVAL 7 DAY
                                   AND order_id NOT IN (
                                     SELECT DISTINCT order_id
                                     FROM order_item_1
                                     WHERE create_time &gt;= CURDATE() - INTERVAL 7 DAY
                                     )
                                 UNION
                                 SELECT t2.order_id
                                 FROM order_item_1 t2
                                 WHERE t2.create_time &gt;= CURDATE() - INTERVAL 7 DAY
                                   AND t2.order_id IN (
                                     SELECT t1.order_id
                                     FROM order_item_1 t1
                                     WHERE t1.create_time &lt;= CURDATE() - INTERVAL 7 DAY
                                     )) AS subquery);

    </delete>

</mapper>
